/*
    Azul:       #001689
    Rojo:       #C21E3C
    Gris:       #45555F - 69, 85, 96
    Gris Claro: #F4F4F4
*/

body {
    color: #45555F;
    background-color: #D9DDDF;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #45555F;
}

.margen {
    padding: 5px 15px;
}
.texto-light {
    font-weight: 300;
}
.texto-bold{
    font-weight: 700;
}
.fondo-rojo {
    background-color: #C21E3C;
    color: white;
}
.fondo-gris {
    background-color: #45555F;
}
.fondo-gris-claro {
    background-color: #F4F4F4;
}
.fondo-gris-muy-claro {
    background-color: #fefefe;
}
.texto-blanco {
    color: white;
}
.texto-rojo {
    color: #C21E3C;
}
.btn-primary {
    background-color: #C21E3C;
    border: 1px solid #C21E3C;
}
.btn-primary:hover {
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    color: #45555F;
}

    .fondo-rojo.salidas {
        background: #C21E3C url(../img/salidas.png) no-repeat  90% 50% ;
    }
    .fondo-rojo.llegadas {
        background: #C21E3C url(../img/llegadas.png) no-repeat 90% 50% ;
    }

.no-margin-bottom {
    margin-bottom: 0 !important;
}

table.table {
    margin-bottom: 0;
}
table.table th {
    border-top: none !important;
    background-color: #45555F;
    color: white;
}
table.table td {
    border-bottom: 1px solid #45555F;
    background: white;
}
table.table tr:hover td {
    background-color: #F4F4F4;
}




#cabecera {
    background: white;
}
    #cabecera ul {
        margin: 60px 0 0 0;
        padding: 0;
        text-align: right;
    }
    #cabecera ul li {
        display: inline-block;
        font-size: 17px;
    }
    #cabecera #menu li {
        margin-left: 20px;
    }
    #cabecera #menu a {
        color: #001689;
    }
    #cabecera #idiomas li {
        font-size: 14px;
    }
    #cabecera #idiomas li:after {
        content: " | ";
    }
    #cabecera #idiomas li:last-child:after {
        content: none;
    }
    
    #cabecera .submenu {
        position: absolute;
        width: 100%;
        z-index: 9999;
        top: 110px;
        display: none;
    }
    #cabecera .submenu ul {
        margin: 0;
        padding: 5px;
        text-align: left;
    }
    #cabecera .submenu ul a {
        color: white;
    }
    #cabecera .submenu ul li {
        margin-right: 20px;
    }
    #cabecera .submenu .color {
        background-color: #001689;
        margin: 0;

    }
    #cabecera .submenu .triangulo {
        width:  26px;
        height: 13px;
        background: url(../img/koxka.png) no-repeat 50%;
        margin: 0 10px;
    }


#contenido {
    background: #fff url(../img/pattern.png) repeat-x top left;
    padding-top: 45px;
}
#contenido h2 {
    font-size: 50px;
    margin: 40px 0;
}
#contenido h2.mini {
    font-size: 35px;
    margin: 20px;
}
.margen-pagina {
    padding-top: 50px;
    padding-bottom: 100px;
}
#contenido a {
    text-decoration: underline;
}
#contenido a:hover {
    text-decoration: none;
}
/*
.fondo-gris {
    background-color: #D9DDDF;
}
*/

    #contenido.home {
        padding-top: 0;
        background-image: none;
    }
    #contenido.home #slide {
        z-index: 2;
    }
/*
    #contenido.home {
        position: relative;
        border: 1px solid black;
    }
*/
    #contenido.home #tabla-tiempos {
        position: absolute;
        z-index: 1001;
        width: 100%;
        bottom: 40px;
        padding-bottom: 20px;
        padding-top:    20px;
    }
    #contenido.home #tabla-tiempos h2 {
        font-size: 30px;
        margin: 0;
    }
    #contenido.home #tabla-tiempos .transparencia {
        padding: 10px 10px 25px 10px;
        background: rgba(255, 255, 255, .5);
    }
    
    #contenido.home #tabla-tiempos input[type="text"],
    #contenido.home #tabla-tiempos select{
        width: 160px;
    }
    
    #contenido #tabla-tiempos p {
        margin-top: 0;
        background: white;
        padding: 5px 10px;
        font-weight: bold;
    }
    
    #contenido #tabla-tiempos p a {
        text-decoration: none;
    }
    #contenido #tabla-tiempos form .margen {
        padding-bottom: 15px;
    }
    #contenido.tabla-tiempos form .form-group-sm {
        padding: 10px 20px 10px 0px;
    }
    




#contenido.home #slide {
    width:  100%;
    height: 400px;
}
#contenido.home #slide .cycle-slideshow,
#contenido.home #slide div {
    width: 100%;
    height: 100%;
}



#contenido.planos ul li {
    font-size: 20px;
    padding: 5px 0 5px 60px;
    margin: 0 0 20px 0;
    list-style-type: none;
}
    #contenido.planos ul li.plano-01 { background: url(../img/iconos/planos/planos-01.png) no-repeat left center; }
    #contenido.planos ul li.plano-02 { background: url(../img/iconos/planos/planos-02.png) no-repeat left center; }
    #contenido.planos ul li.plano-03 { background: url(../img/iconos/planos/planos-03.png) no-repeat left center; }
    #contenido.planos ul li.plano-04 { background: url(../img/iconos/planos/planos-04.png) no-repeat left center; }
    #contenido.planos ul li.plano-05 { background: url(../img/iconos/planos/planos-05.png) no-repeat left center; }
    #contenido.planos ul li.plano-06 { background: url(../img/iconos/planos/planos-06.png) no-repeat left center; }
    #contenido.planos ul li.plano-07 { background: url(../img/iconos/planos/planos-07.png) no-repeat left center; }
    #contenido.planos ul li.plano-08 { background: url(../img/iconos/planos/planos-08.png) no-repeat left center; }
    #contenido.planos ul li.plano-09 { background: url(../img/iconos/planos/planos-09.png) no-repeat left center; }
    #contenido.planos ul li.plano-10 { background: url(../img/iconos/planos/planos-10.png) no-repeat left center; }
    #contenido.planos ul li.plano-11 { background: url(../img/iconos/planos/planos-11.png) no-repeat left center; }
    #contenido.planos ul li.plano-12 { background: url(../img/iconos/planos/planos-12.png) no-repeat left center; }
    #contenido.planos ul li.plano-13 { background: url(../img/iconos/planos/planos-13.png) no-repeat left center; }



#contenido.companias .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    min-height: 60px;
    margin-bottom: 40px;
}
    #contenido.companias h3 {
        color: #C21E3C;
        font-size: 18px;
    }
    #contenido.companias ul {
        margin-left: 0;
        padding-left: 0;
    }
    #contenido.companias ul li {
        font-size: 16px;
        padding: 0 0 0 30px;
        margin: 0 0 10px 0;
        list-style-type: none;
        background-size: 20px !important;
    }
    #contenido.companias ul li.telefono { 
        background: url(../img/iconos/companias/tel.png) no-repeat left center; 
    }
    #contenido.companias ul li.web      { 
        background: url(../img/iconos/companias/web.png) no-repeat left center;
    }
    #contenido.companias ul li.email    { 
        background: url(../img/iconos/companias/email.png) no-repeat left center; 
    }
    #contenido.companias ul li.reserva  { 
        background: url(../img/iconos/companias/carro.png) no-repeat left center;
    }
    
    #contenido.companias .linea-puntos-top {
        border-top: 1px dotted black;
        margin-top: 40px;
        padding-top: 20px;
    }
    #contenido.companias .banda-pais {
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
        margin: 40px 0;
    }
    

#contenido .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 550px;
}
#contenido.servicios .hero-01 {
    background-image: url(../img/servicios/hero-01.jpg);
}
#contenido.servicios .hero-02 {
    background-image: url(../img/servicios/hero-02.jpg);
}
#contenido.servicios .hero-03 {
    background-image: url(../img/servicios/hero-03.jpg);
    background-position-y: 80%;
}
#contenido.servicios .container {
    padding-top: 50px;
    padding-bottom: 50px;
}


#contenido.futura-estacion .hero-01 {
    background-image: url(../img/futura-estacion/hero-01.jpg);
}
#contenido.futura-estacion .hero-02 {
    background-image: url(../img/futura-estacion/hero-02.jpg);
}
#contenido.futura-estacion .hero-03 {
    background-image: url(../img/futura-estacion/hero-03.jpg);
}
#contenido.futura-estacion .hero-04 {
    background-image: url(../img/futura-estacion/hero-04.jpg);
}
#contenido.futura-estacion .container {
    padding-top:    100px;
    padding-bottom: 100px;
}

    #contenido.tabla-tiempos .table {
        margin: 20px 0 !important;
    }
    #contenido.tabla-tiempos .table th {
        background-color: #999;
    }


#pie {
    background-color: #D9DDDF;
    border-top: 10px solid #45555F;
    padding: 30px 0;
}
    #pie ul {
        margin: 50px 0;
        padding: 0;
        text-align: right;
    }
    #pie ul li {
        display: inline-block;
        margin-left: 10px;
    }
    #pie ul li a {
        text-decoration: none;
        font-weight: 700;
    }





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #cabecera ul {
        margin: 50px 0 0 0;
    }
    #cabecera ul li {
        font-size: 15px;
    }
    
    #contenido.home #tabla-tiempos input[type="text"],
    #contenido.home #tabla-tiempos select{
        width: 110px;
    }
    #cabecera .submenu {
        position: absolute;
        width: 100%;
        z-index: 9999;
        top: 90px;
        display: none;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #cabecera ul {
        margin: 50px 0 0 0;
    }
    #cabecera ul li {
        font-size: 15px;
    }
    #cabecera #menu li {
        margin-left: 15px;
    }
    .container {
        width: 100%;
    }
    #cabecera #idiomas ul {
        margin: 0;
    }
    
    #contenido.home #tabla-tiempos input[type="text"],
    #contenido.home #tabla-tiempos select{
        width: 100px;
    }
    #contenido .hero {
        height: 300px;
    }
    
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #cabecera img {
        max-width: 200px;
        height: auto;
    }
    #contenido.home #tabla-tiempos {
        top: 140px;
        bottom: auto;
    }
    #control-menu-movil {
        position: absolute;
        top:    30px;
        right:  30px;
        width:  30px;
        height: 30px;
        z-index: 9999;
        cursor: pointer;
        background: url(../img/menu-movil.png) no-repeat 50%;
    }
    #capa-menu-movil {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #001689;
        z-index: 99999;
        padding: 20px;
        display: none;
    }
        #capa-menu-movil li {
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 !important;
        }
        #capa-menu-movil li li {
            font-weight: normal;
            text-transform: none;
            margin: 0;
        }
        #capa-menu-movil li a {
            color: white !important;
        }
        #capa-menu-movil ul {
            margin: 10px 0;
        }
        #capa-menu-movil ul li {
            display: block;
            text-align: center;
            padding: 5px 0;
        }
        #capa-menu-movil #idiomas ul {
            text-align: center;
            color: white;
        }
        #capa-menu-movil #idiomas li {
            display: inline-block;
        }
        
        
    #contenido.home {
        background: url(../img/carretera.jpg) no-repeat center bottom;
        background-size: cover;
        background-attachment: fixed
    }
        
    #contenido.home #tabla-tiempos{
        position: relative;
        top: auto;
        bottom: auto;
    }
        #contenido.home #columna-llegadas {
            margin-top: 20px;
        }
    #slide {
        position: absolute;
        top: 100px;
    }
        
    #contenido.home #tabla-tiempos input[type="text"],
    #contenido.home #tabla-tiempos select{
        width: 100%;
    }
    
    #contenido .hero{
        background-image: none;
        height: auto;
    }
    
    
    #pie ul li {
        display: block;
        margin-left: 0;
        text-align: center
    }
        
    
    #contenido.tabla-tiempos .btn,
    #contenido.home .btn {
        margin-top: 20px;
        display: block;
        float: none;
    }
    #contenido.tabla-tiempos form .form-group-sm {
        padding: 0px;
    }
    
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .fondo-rojo.salidas,
    .fondo-rojo.llegadas {
        background-image: none;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}












/*!
 * jQuery UI Datepicker @VERSION
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/datepicker/#theming
 */
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background-color: white;
	border: 1px solid #45555F;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	top: 5px;
	background: url(../img/calendario-prev.png) no-repeat 50%;
	width:  25px;
	height: 20px;
}
.ui-datepicker .ui-datepicker-prev:after {

}
.ui-datepicker .ui-datepicker-next:after {
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
	top: 5px;
	text-align: right;
	background: url(../img/calendario-next.png) no-repeat 50%;
	width:  25px;
	height: 20px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	text-align: center;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
	text-align: center;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-decoration: none;
	text-align: center;
}
.ui-datepicker td a:hover {
    background-color: #F4F4F4;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}